*,
*::before,
*::after {
  box-sizing: border-box;
}

Reset margins body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.5;
  min-width: 100vh;
  overflow-x: hidden;
}

.nav {
  background-color: #313f38;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}
.links {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav.open .links {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 10px 20px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #ece1e1;
  margin: 5px 0;
}

.modal-overlay,
.modal {
  display: none;
}

#cl-modal {
  color: #2a5b46;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  background-color: #313f38;
  padding: 20px;
  width: 100%;
}

.modal-content .nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  gap: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
  background-color: #313f38;
  position: relative;
  padding: 10px 0;
}

.main-section {
  text-align: center;
}

.main-section-img {
  min-width: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.main-section div {
  display: flex;
  justify-content: space-evenly;
}

.apartament {
  min-width: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0;
}
.tittle {
  font-size: 100px;
  line-height: 16.8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 80px 20px;
}
.title-first-part {
  color: #fff;
}
.title-second-part {
  color: #fcd043;
}

.head-subtitle {
  text-transform: uppercase;
  color: #fcd043;
  padding: 10px;
  opacity: 0;
  animation: fade-in 1s ease 1s forwards;
}
@media screen and (max-width: 768px) {
  .section-rooms-description-container {
    color: #f9f9f9;
  }
  .section-rooms-img2 {
    display: none;
  }
  .section-rooms-img1 {
    display: none;
  }
  .section-rooms {
    background-image: url("./home/bed.jpg");
    background-size: cover;
    background-position: center;
  }
  .section-rooms-text {
    color: #fff;
  }

  .main-image {
    display: none;
  }
  .column {
    flex: 1 1 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .head-description {
    display: none;
  }
  .tittle {
    position: static;
    display: inline-block;
  }

  .links {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .nav.active .links {
    display: block;
  }
}
.contact-container {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.contact-number {
  color: #fcd043;
}
.adress {
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.info-text {
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
}
.start-container {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 140px;
  border: #ece1e1 1px solid;
  border-radius: 20px;
  position: absolute;
  top: 0.5%;
  right: 35%;
}
.star-text {
  color: #ece1e1;
  text-transform: capitalize;
}
.head-description {
  width: 250px;
  position: absolute;
  top: 7%;
  right: 10%;
  color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  opacity: 0;
  animation: fade-in 1s ease 1.5s forwards;
}
.start-container img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-about {
  position: relative;
  padding: 400px 0;
}
.section-about-img1 {
  position: absolute;
  top: 10%;
  left: 2%;
}
.section-about-img2 {
  position: absolute;
  top: 10%;
  right: 2%;
}
.section-about-img3 {
  position: absolute;
  top: 2%;
  right: 20%;
}
.section-about-title {
  opacity: 0;
  animation: fade-in 1s ease forwards;
  position: absolute;
  text-transform: uppercase;
  font-size: 70px;
  top: 15%;
  left: 30%;
  z-index: 999;
}

.section-about-title-first {
  color: #fcd043;
}
.section-about-title-second {
  color: #ece1e1;
}
.section-about-subtitle {
  position: absolute;
  z-index: 999;
  top: 55%;
  left: 55%;
  color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  opacity: 0;
  animation: fade-in 1s ease 0.5s forwards;
}
.section-about-description {
  position: absolute;
  z-index: 999;
  top: 65%;
  left: 50%;
  width: 250px;
  font-weight: 300;
  color: #f9f9f9;
  opacity: 0;
  animation: fade-in 1s ease 1s forwards;
}
.section-about-img1,
.section-about-img2,
.section-about-img3 {
  opacity: 0;
  animation: slide-in 1s ease 1.5s forwards;
}

.animate {
  opacity: 1;
}

.section-rooms {
  background-color: rgb(250, 246, 238);
  padding: 80px 5px 50px;
}
.section-rooms-container {
  position: relative;
}
.section-rooms-title {
  position: relative;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  z-index: 999;
  color: #ffcc33;
}
.section-rooms-text {
  position: absolute;
  font-size: small;
  top: 0%;
  right: 30px;
  width: 200px;
  text-transform: uppercase;
}
.section-rooms-subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  padding-left: 40px;
  position: relative;
  z-index: 9999;
  padding-bottom: 20px;
}
.section-rooms-description {
  width: 300px;
  font-size: 20px;
  font-weight: 300;
  z-index: 999;
  position: relative;
}
.section-rooms-img1 {
  opacity: 0;
  animation: slide-in 1s ease 1.5s forwards;
  position: absolute;
  top: 20%;
  right: 0;
}
.section-rooms-img2 {
  opacity: 0;
  animation: slide-in 1s ease 1.5s forwards;
  /* padding-left: 10px; */
  padding-top: 150px;
}

.section-rooms-description-container {
  padding-left: 60px;
  padding-top: 60px;
}
.gallery-section {
  padding: 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #313f38;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-image {
  flex: 0 0 50%;
  padding: 30px;
}

.small-images {
  flex: 0 0 25%;
  margin: 10px;
}
.small-images:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.main-image :hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.gallery-title {
  flex-basis: 100%;
  text-align: center;
  color: #fcd043;
  margin-bottom: 10px;
  animation: pulse 2s infinite alternate;
}
.title-gal {
  font-size: 70px;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.gallery-description {
  flex-basis: 50%;
  text-align: center;

  padding-bottom: 10px;
  color: #fff;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 5px;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(250, 246, 238);
  border-top: solid 1px #adafae;
}

.column {
  flex: 1;
  text-align: center;
  padding-bottom: 20px;
}
.footer-content {
  width: 250px;
  margin: 0 auto;
}
.social-link {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.slash {
  font-size: 27px;
  color: #fcd043;
}
.footer-heading {
  text-transform: uppercase;
  font-size: 25px;
}
#newsletter-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 280px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-text {
  display: flex;

  opacity: 0.5;
  color: #fff;
  font-weight: 900;
  font-size: 33px;
  background-color: rgba(0, 0, 0, 0.1);
}
#goToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fcd043;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  z-index: 99999;
}

#goToTopButton:hover {
  background-color: #ffcc33;
}

/* CONTACT PAGE */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  padding: 10px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #fcd043;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 5px #fcd043;
  margin: 0 auto;
  max-width: 600px;
  max-height: 600px;
  position: relative;
  width: 100%;
  background-color: #313f38;
}

form {
  padding: 45px;
}

h2 {
  color: #fcd043;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: capitalize;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#subject_input {
  background-color: #313f38;
  text-align: center;
}
#message_input {
  text-align: center;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

#message_input::placeholder {
  color: #ffffff;
}

#booking_input::placeholder {
  color: #ffffff;
}

#name_input::placeholder {
  color: #ffffff;
}

#email_input::placeholder {
  color: #ffffff;
}

:-webkit-autofill {
  transition: all 100000s ease-in-out 0s;
}

.name {
  float: left;
  width: 45%;
}

.booking {
  float: left;
  width: 45%;
}

select {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 100px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #2a5b46;
}

#form_button {
  background: none;
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 15px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.submit {
  text-align: center;
}

#form_button:hover {
  background: #fcd043;
  color: #ffffff;
}

/* THANK YOU PAGE */

.thanks {
  text-align: center;
  font-size: 30pt;
  margin: 60px;
}

.button {
  background: none;
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background: #2a5b46;
  color: #ffffff;
}

.hero-image {
  background-image: url(./hero-image.jpg);
  background-color: #cccccc;
  min-height: 100vh;
  filter: contrast(0.7) brightness(0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 26px;
}

.booking-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fcd043; /* Kolor żółty */
  color: #ffffff; /* Kolor tekstu */
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  left: 70%;
  z-index: 999;
}

.booking-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    #fcd043,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  transition: transform 0.3s ease;
  z-index: -1;
}

.booking-button:hover::before {
  transform: scale(1.5);
}

.booking-button:hover {
  background-color: #ffd700;
  border-radius: 50%;
}
